---
page_title: "Provider: Redash"
description: |-
  The Redash provider.
---

# Redash Provider

The [Redash](https://redash.io/) provider.

## Example Usage

{{tffile "examples/provider/provider.tf"}}
